/*
Colors used:
Primary Colors:
darkgrey: #353535;
teal: #3c6e71;
darker teal: #2a4d4f;
light tourquise: #e1fdff;
bright tourquise: #c3fbff;
white: #ffffff;
lightgrey: #d9d9d9;
darker grey: #989898;
indigo: #284b63;
dark blue: #1c3a45;
light blue: #d9f5ff;
bright blue: #b3eaff;
*/
body {
  background-color: #d9d9d9;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  /*sets the font size to 16 px*/
  font-weight: 300;
  /*sets the font weiht to 300 */
  line-height: 1.6;
  /*sets the line height to 1,6 * the font-size */
  color: #353535;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

.logo {
  max-width: 150px;
}

header {
  background-color: #ffffff;
}

footer {
  background-color: #e1fdff;
  color: #1c3a45;
}

a {
  color: #2a4d4f;
  font-weight: 300;
  text-decoration: underline;
  /*no underlining*/
}

a:visited {
  /*visited link*/
  color: #2a4d4f;
}

a:hover, a:focus {
  color: #284b63;
  text-decoration: underline;
  /*underlining when hovering over a link */
}

a:active {
  /*selected link*/
  color: #2a4d4f;
}

.button {
  display: inline-block;
  background-color: #c3fbff;
  color: #3c6e71;
  font-weight: 400;
  padding: 8px;
  border-radius: 15px;
  borderbottom: 2px solid #c3fbff;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /*reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: #d9d9d9;
  color: #2a4d4f;
  text-transform: uppercase;
  border: 2px solid #d9d9d9;
}

.button.contact:hover {
  background-color: #e1fdff;
  color: #1c3a45;
}

.button.download {
  text-align: center;
}

.button.download:hover {
  opacity: 0.8;
  /*reduces the opacity of the button to 80% */
  text-decoration: none;
}
