/*
Colors used:
Primary Colors:
darkgrey: #353535;
teal: #3c6e71;
darker teal: #2a4d4f;
light tourquise: #e1fdff;
bright tourquise: #c3fbff;
white: #ffffff;
lightgrey: #d9d9d9;
darker grey: #989898;
light teal: #E5ECEC;
indigo: #284b63;
dark blue: #1c3a45;
light blue: #d9f5ff;
bright blue: #b3eaff;
*/
/* ========= general styling ============= */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1em;
  /*sets the font size to 16 px*/
  font-weight: 300;
  /*sets the font weiht to 300 */
  line-height: 1.6;
  /*sets the line height to 1,6 * the font-size */
  color: #353535;
  text-align: left;
}

main {
  text-align: left;
  padding-top: 146px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
  color: #2a4d4f;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

.logo {
  max-width: 96px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}

.prototype {
  padding: 0.325em;
  border: 0.125em solid #2a4d4f;
}

.spanheader {
  color: #2a4d4f;
  font-weight: 300;
  font-size: 0.8em;
}

.social {
  margin: 0 0.4em;
}

.picture {
  max-width: 767px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* =========== Header and Footer ========== */
header {
  background-color: #d9d9d9;
  text-align: center;
  padding: 0.325em 0;
  position: fixed;
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 6px 8px 10px -4px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 6px 8px 10px -4px rgba(50, 50, 50, 0.64);
  box-shadow: 6px 8px 10px -4px rgba(50, 50, 50, 0.64);
}

footer {
  background-color: #d9d9d9;
  color: #1c3a45;
}

#contact {
  text-align: left;
  display: inline-block;
  padding: 0 1em;
}

/* ================ hero ========== */
#hero h1 {
  text-align: left;
  /*centers text */
}

#hero span {
  display: block;
}

#hero {
  background-color: #ffffff;
  padding: 1.25em 0;
  display: inline-block;
  width: 100%;
}

/* ============= Work ========== */
#project {
  padding: 1.25em 0;
  display: inline-block;
  width: 100%;
  text-align: left;
}

/* ======= About ======== */
#about .columnend {
  padding-bottom: 1.563em;
  border-bottom: 0.063em solid #1c3a45;
}

#about {
  text-align: left;
}

#about h3 {
  margin-top: 0;
}

#about h3 {
  text-decoration: underline;
}

/* ======== Links and Buttons ============ */
a {
  color: #2a4d4f;
  text-decoration: underline;
}

a:visited {
  /*visited link*/
  color: #2a4d4f;
}

a:hover, a:focus {
  color: #284b63;
  text-decoration: underline;
  font-weight: bold;
  /*underlining when hovering over a link */
}

a:active {
  /*selected link*/
  color: #2a4d4f;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 0.938em;
  text-transform: uppercase;
  font-weight: 700;
  color: #2a4d4f;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #284b63;
}

nav>ul>li>a:hover {
  color: #1c3a45;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #3c6e71;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  padding: 0.2em 3em;
  border-radius: 0.938em;
  border-bottom: 0.125em solid #3c6e71;
  transition: 0.2s;
}

.button.download {
  text-align: center;
  text-decoration: none;
  margin-bottom: 1em;
}

.button.download span {
  font-size: 1.25em;
  font-weight: bold;
}

.button:hover {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.8;
}

.button.disable {
  background-color: #d9d9d9;
  color: #989898;
  text-decoration: none;
  display: inline-block;
  border-bottom: 0;
}

.button.contact {
  text-transform: uppercase;
  background-color: #353535;
  color: #d9d9d9;
  padding: 0.2em 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 0;
  font-weight: bold;
}

.button.contact:hover {
  text-decoration: none;
  opacity: 0.8;
}

.contacticon {
  display: inline-block;
  text-decoration: none;
}

.contacticon:hover {
  opacity: 0.8;
}

.contacticon>a {
  padding: 0 0.938em;
  text-decoration: none;
}

/* ============= container, rows and columns ============== */
.container {
  padding: 0 1em;
}

.row {
  padding-bottom: 1.563em;
  margin: 1.2em 0;
  text-align: left;
}

.upperrow {
  padding-bottom: 1.563em;
  border-bottom: 0.063em solid #1c3a45;
  margin: 1.2em 0;
  text-align: left;
}

/* ========= Illustration ========= */
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

animation: [animation-duration] [animation-name] [animation-iteration-count] [animation-direction] [animation-timing-function];
transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];

/* ================ Medium devices (640px and lager) ================ */
@media only screen and (min-width: 640px) {
  body {
    background-color: #ffffff;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.1em;
    /*sets the font size to 16 px*/
    font-weight: 300;
    /*sets the font weiht to 300 */
    line-height: 1.6;
    /*sets the line height to 1,6 * the font-size */
    color: #353535;
  }

  header {
    text-align: unset;
    padding: 1.25em 0 0.813em;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0.25em;
  }

  main {
    padding-top: 7em;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0.625em;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ============ large devicies (1024px or lager) ============== */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    padding: 1.25em 0 0.813em;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0.25em;
  }

  main {
    padding-top: 7em;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0.625em;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* =============== extra-large devices (1920px or larger) ========== */
@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}
